body {
    color: black;
}

li {
    list-style: none;
}

#dropzone {
    width: 600px;
    height: 400px;
    background-color: grey;
}

.card-title-holder {
    background-color: rgba(0, 0, 0, 0.6);
    .card-title {
        color: white;
    }
}
