body {
    color: black;
}

li {
    list-style: none;
}

#dropzone {
    width: 100%;
    height: 11000px;
    background-color: #E8ECF0;
    left: 240px;
    position: absolute;
    li:first-child {
        margin-top: 40px;
    }
    li {
        width: 50%;
        margin-left: 240px;
        margin-right: auto;

    }
    .card {
        height: 100px;
    }
}

.card-title-holder {
    .card-title {
        color: white;
    }
}

#selectedCard {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}
