body {
    color: black;
}

li {
    list-style: none;
}

#dropzone {
    width: 600px;
    height: 400px;
    background-color: grey;
}

.card-title-holder {
    background-color: rgba(0, 0, 0, 0.6);
    .card-title {
        color: white;
    }
}
#selectedCard {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
}
#dropzone {
    .card {
        height: 100px;
    }
}
